{
  "extends": [
    "stylelint-config-standard"
  ],
  "customSyntax": "postcss-syntax",
  "plugins": [
    "stylelint-order",
    "stylelint-config-rational-order/plugin"
  ],
  "rules": {
    "indentation": 2,
    "declaration-colon-newline-after": "always-multi-line",
    "declaration-empty-line-before": null,
    "selector-type-no-unknown": null,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "content-visibility"
        ]
      }
    ],
    "order/properties-order": [],
    "plugin/rational-order": [
      true,
      {
        "border-in-box-model": false,
        "empty-line-between-groups": true
      }
    ]
  }
}
